<div class="outer">
    <div class="wrapper_sign">
        <div>
            <h1>Sign up</h1>
            <div class="position-top">
                <form>
                    {{{ inputEmail }}}
                    {{{ inputLogin }}}
                    {{{ inputFirstName }}}
                    {{{ inputSecondName }}}
                    {{{ inputPhone }}}
                    {{{ inputPassword }}}
                    {{{ inputPasswordConfirm }}}
                </form>
            </div>
        </div>
        <div>
            {{{ btnSignUp }}}
            {{{ btnSignIn }}}
        </div>
    </div>
</div>