<div class="wrapper-profile">
    <div class="wrapper-back-button">
        {{{ backBtn }}}
    </div>
    <div class="wrapper-profile-block">
        <div class="profile-block">
            {{{ avatar }}}
            {{{ nameTitle }}}
            {{{ inputEmail }}}
            {{{ inputLogin }}}
            {{{ inputFirstName }}}
            {{{ inputSecondName }}}
            {{{ inputDisplayName }}}
            {{{ inputPhone }}}
            <div class="edit-button">
                {{{ changeDataBtn }}}
                {{{ changePasswordBtn }}}
                {{{ signOutBtn }}}
            </div>
        </div>
    </div>
</div>