<div class="wrapper-chats">
    <div class="chats-list">
        <a class="profile-link" href="/profile">
            Profile<span class="arrow" /></a>
            <form>
                {{{ searchInput }}}
            </form>
        <ul>
            <li>
                {{{ chat1 }}}
            </li>
            <li>
                {{{ chat2 }}}
            </li>
            <li>
                {{{ chat3 }}}
            </li>
            <li>
                {{{ chat4 }}}
            </li>
            <li>
                {{{ chat5 }}}
            </li>
            <li>
                {{{ chat6 }}}
            </li>
            <li>
                {{{ chat7 }}}
            </li>
            <li>
                {{{ chat8 }}}
            </li>
            <li>
                {{{ chat9 }}}
            </li>
            <li>
                {{{ chat10 }}}
            </li>
            <li>
                {{{ chat11 }}}
            </li>
        </ul>
    </div>
    <div class="chats-active">
        {{{ chatConversation }}}
    </div>
</div>