<div class="wrapper-profile">
    <div class="wrapper-back-button">
        {{{ backBtn }}}
    </div>
    <div class="wrapper-profile-block">
        <div class="profile-block">
            <form>
                {{{ avatar }}}
                {{{ oldPassword }}}
                {{{ newPassword }}}
                {{{ repeatNewPassword }}}
                <div class="edit-button">
                    {{{ saveButton }}}
                </div>
            </form>
        </div>
    </div>
</div>