<div class="wrapper-profile">
    <div class="wrapper-back-button">
        {{{ backBtn }}}
    </div>
    <div class="wrapper-profile-block">
        <div class="profile-block">
            {{{ avatar }}}
            {{{ oldPassword }}}
            {{{ newPassword }}}
            {{{ repeatNewPassword }}}
            <div class="edit-button">
                {{{ saveButton }}}
            </div>
        </div>
    </div>
</div>